* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  font-size: 25px;
  font-weight: bold;
}

.form-control {
  background: none;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

.btn-outline{
    color: red;
}

.card-title {
  text-align: center;
}

.btn-danger {
  display: flex;
  justify-content: center;
}

.btnsend {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*--- Barra Scroll ---*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.1) 75%,
    transparent 75%,
    transparent
  );
}
